/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Sans:wght@700&family=Lora:wght@700&display=swap');*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lora', serif;
}
:root{
    --main-color: #d44a13; 
    --second-color:#080e0c;
}
section{
    padding: 50px 10%;
}
*::selection {
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe5be;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%); 
    padding: 15px 10%;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar a:hover {
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ffd2bc;
    gap: 1rem;
}
.home-text {
    flex: 1 1 10rem;
}
.home-img{
    flex: 1 1 30rem;
}
.home-img {
    width: 1000px;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
.home-text span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #d44a13;
}
.home-text h1{
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Josefin Sans';
    margin: 1.5rem 0 0;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 1000;
    font-weight: bolder;
    color: var(--second-color);
}
.home-text h2{
    font-size: 2.5rem;
    margin: 0 0 2rem;
    text-transform: none;
    font-weight: 500;
    color: #d44a13;
}
.btn {
    padding: 7px 16px;
    font-size: 1.5rem;
    color: #e90808;
    border: 2px solid;
    border-width: 2;
    border-radius: 100%;
    font-weight: 500;
}
.btn:hover {
    color: aliceblue;
    background: var(--main-color);
}
.heading {
    text-align: center;
    text-transform: uppercase;
}
.heading span {
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--main-color);
}
.heading h1 {
    font-size: 2rem;
    color: var(--main-color);
}
.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.shop-container .box {
    flex: 1 1 10rem;
    background: #ffd2bc;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 1rem;
}
.shop-container .box .box-img {
    width: 250px;
    height: 250px;
    margin-top: -100;
}
.shop-container .box h2{
    color: #080e0c;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.menu-container .boxes {
    flex: 1 1 10rem;
    background: #ffd2bc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.about-img {
    flex: 1 1 21rem;
    margin-bottom: 5rem;
}
.about-text {
    flex: 1 1 21rem;
}
.about-text h2 {
    font-size: 1.2rem;
    color: #080e0c;
}
.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.reserve .hover{
    background: var(--second-color);
}
  .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a .bx{
    padding: 10px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}
.social a .bx:hover {
    background: var(--main-color);
}
.links {
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover {
    color: var(--main-color);
}
.contact p{
    text-align: center;
}
@media (max-width: 1150px){
    header {
        padding: 18px 7%;
    }
    section {
        padding: 100px 8%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 991px){
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}
@media (max-width: 768px){
    header {
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color)
    }
}
.container1 {
    padding: 1rem;
    margin-left: 48.2rem;
    width: 22rem;
    background-color: #d44a13;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
}
.rapper {
    margin: 2rem 0;
}
.text {
    margin-bottom: .5rem;
    font-size: 1em;
    color: #ffd2bc;
    text-align: center;
}
.emoji {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}
.emoji > div:not(:first-child){
    margin-left: 1rem;
}
.emoji > div{
    cursor: pointer;
    transition: transfrom .2s ease-in;
}
.emoji > div:hover {
    transform: scale(1.4);
}
.textarea{
    width: 100%;
    display: block;
    background-color: #6d0909;
    color: #eee;
    border: none;
    resize: none;
    border: none;
    outline: none;
    height: 0;
    opacity: 0;
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.textarea--active{
    padding: 1rem;
    opacity: 1;
    height: 6rem;
}
.btns {
    text-decoration: none;
    color: #eee;
    padding: .4rem 1rem;
    border-radius: 4px;
    background-color: #550000;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    display: none;
}

.btns--active{
    display: inline-block;
}